<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- Imagen -->
        <img src=".\assets\imgs\home-img.png" class="d-block w-100" alt="...">
        <div class="row align-items-center">
            <div class="carousel-caption d-none d-md-block">
                <div class="col-lg-4">
                    <!-- Párrafo -->
                <p id="carousel-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
                    sed do eiusmod tempor incididunt ut labore et dolore <br>
                    magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
                    exercitation ullamco laboris nisi ut aliquip ex ea <br>
                    commodo consequat.</p>
                    <button type="button" id="btn-home-service" class="btn btn-primary btn-lg">Solicitar servicio</button>
                </div>
            </div> 
        </div>
      </div>
    </div>
  </div>
