<div class="home">
  <!-- Carousel Inicio -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <!-- Imagen -->
        <img id="imagen-home" src=".\assets\imgs\home-img.png" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <!-- Párrafo -->
            <p id="carousel-text">
              Realizamos un servicio completo enfocado en tus necesidades, 
              y no te dejamos solo después de haberte ayudado, 
              ¡nosotros te seguimos asesorando!.</p>
            <button type="button" id="btn-home-service" class="btn btn-primary">Solicitar Servicio</button>
          </div>
          <!-- Botón -->
      </div>
    </div>
  </div>
  <!-- Horario -->
  <div class="horario">
    <h2 id="horario-home">Horario de atención: Lunes a Viernes - Sabados en la mañana</h2>
  </div>

    <div class="equipo-home" fxLayout="column">
      <h1 id="equipo-header">Nuestro equipo</h1>
      <div  fxLayout="row" fxLayoutAlign="space-around">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <img mat-card-lg-image class="img-card" src="../../../assets/imgs/img1.jpg">
              <mat-card-title>Nombre Encargado</mat-card-title>
              <mat-card-subtitle>Texto</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <img mat-card-lg-image class="img-card" src="../../../assets/imgs/img1.jpg">
              <mat-card-title>Nombre Encargado</mat-card-title>
              <mat-card-subtitle>Texto</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
      
    <!-- Formulario -->
    <app-form></app-form>
  </div>

  

  


  



