<div class="accounting">
    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
               <div class="carousel-item active text-center">
                   <div class="row align-items-center">
                        <div class="col-md py-2 center">
                            <img id="img-apartado" class="d-block img-fluid" src="../../../assets/imgs/c4.jpg" alt="First slide">
                        </div>
                        <div id="car-derecho"class="col-md py-2 center">
                            <h1 id="nombre-empresa" class="titulo-carousel">Jimenes y Campos Asociados Spa</h1>
                            <h2 id="nombre-vista" class="titulo-carousel">Planificación Tributaria</h2>
                            <p class="texto-carousel">
                                Impuestos de empresas, buscamos la mejor alternativa para que tu carga tributaria sea la más justa posible.
                            </p>
                            <p class="texto-carousel">
                                Profesionales con boleta de honorarios, ¿sabías que la propuesta de impuesto a la renta del SII es modificable,
                                 y que esto puede significar una devolución de impuesto entre 10 a 15 millones de pesos dependiendo de cada caso,
                                  no te quedes con la dudas.. Contactanos¡¡ 
                            </p>
                            <button id="btn-carousel" class="btn btn-primary">Solicitar servicio</button>
                       </div>
                   </div>
               </div>
        </div>
    </div>

    <div id="card-vista" class="card text-white bg-black mb-0">
        <div class="card-header">Información adicional</div>
        <hr>
        <div class="card-body">
          <p class="card-text">
            Impuesto a empresas, dependiendo de tu régimen tributario existen obligaciones mínimas que cumplir,
             las cuales de no cumplirse en los plazos y en las formas adecuadas generan multas dependiendo del 
             error y del tiempo transcurrido en las que se realizan. Nosotros, nos hacemos cargo de la mantención
              de sus obligaciones tributarias y usando nuestra experiencia buscamos la alternativa más eficiente 
              dependiendo de su situación en particular.
          </p>
          <p class="card-text">
            Profesionales con boleta de honorarios, Desde que se constituyó nuestra empresa hemos logrado 
            devoluciones de impuestos considerables a distintos tipos de profesionales independientes, 
            entre un 30 a un 50 por ciento del total retenido por sus boletas anualmente.
          </p>
        </div>
      </div>
</div>
