<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!-- Logo de prueba, cambiar -->
            <img src=".\assets\imgs\Adidas_logo.png" alt="Bootstrap" width="30" height="24">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page"  href="#">Contabilidad de Pymes</a>
          <a class="nav-link" href="#">Remuneraciones</a>
          <a class="nav-link" href="#">Creación de empresas</a>
          <a class="nav-link" href="#">Impuestos</a>
          <a class="nav-link" href="#">Control de gestión</a>
        </div>
      </div>
    </div>
  </nav>
