<div>
    <footer fxLayout="column">
        <div class="network">
            <div class="butt" fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
                <img class="icon" src="../../../assets/imgs/telephone.png" (click)="toPhone()">
                <span>+56947609898</span>
            </div>
            <div class="butt" fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
                <img class="icon" src="../../../assets/imgs/linkedin.png" (click)="toLin()">
                <span>JCAsociados</span>
            </div>
            <div class="butt" fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
                <img class="icon" src="../../../assets/imgs/correo.png" (click)="toMail()">
                <span>contacto@jcasociados.cl</span>
            </div>
        </div>
        <div fxFlex="100" fxLayoutAlign="center">
            &copy; Copyright Shu5t
        </div>
    </footer>
</div>