<div class="accounting">
    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
               <div class="carousel-item active text-center">
                   <div class="row align-items-center">
                        <div class="col-md py-2 center">
                            <img id="img-apartado" class="d-block img-fluid" src="../../../assets/imgs/c3.jpg" alt="First slide">
                        </div>
                       <div id="car-derecho"class="col-md py-2 center">
                            <h1 id="nombre-empresa" class="titulo-carousel">Jimenes y Campos Asociados Spa</h1>
                            <h2 id="nombre-vista" class="titulo-carousel">Creación de empresas</h2>
                            <p class="texto-carousel">Lo que comienza bien, tiene mejores posibilidades de desarrollo;
                                por eso es importante que tu empresa sea creada correctamente desde su constitución.</p>
                                <button type="button" id="btn-home-service" class="btn btn-primary" (click)="dirigeForm()">Solicitar Servicio</button>
                       </div>
                       
                   </div>
               </div>
        </div>
    </div>

    <div id="card-vista" class="card text-white bg-black mb-0">
        <div class="card-header">Información adicional</div>
        <hr>
        <div class="card-body">
          <p class="card-text">En la actualidad, el mercado ofrece distintas alternativas gratis o 
            pagadas para crear empresas, pero muy pocas cuentan con asesoría integral que te permita 
            comenzar a facturar en el menor tiempo posible.</p>
        </div>
      </div>
      <!-- Formulario -->
    <div id="app-form">
        <app-form ></app-form>
      </div>
</div>
