<div class="accounting">
    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
               <div class="carousel-item active text-center">
                   <div class="row align-items-center">
                        <div class="col-md py-2 center">
                            <img id="img-apartado" class="d-block img-fluid" src="../../../assets/imgs/c1.jpg" alt="First slide">
                        </div>
                       <div id="car-derecho"class="col-md py-2 center">
                            <h1 id="nombre-empresa" class="titulo-carousel">Jimenes y Campos Asociados Spa</h1>
                            <h2 id="nombre-vista" class="titulo-carousel">Contabilidad de Pymes</h2>
                            <p class="texto-carousel">Nos mantenemos actualizados con todas las normativas del SII, 
                                para ofrecerte alternativa la mejor alternativa tributarias  de acuerdo a tus necesidades.</p>
                            <button id="btn-carousel" class="btn btn-primary">Solicitar servicio</button>
                       </div>
                       
                   </div>
               </div>
        </div>
    </div>

    <div id="card-vista" class="card text-white bg-black mb-0">
        <div class="card-header">Información adicional</div>
        <hr>
        <div class="card-body">
          <p class="card-text">Actualmente, el SII  cuenta  con 5 regímenes tributarios, cada uno con características,  
            requisitos y con distinto nivel de complejidad, dependiendo de los niveles de ventas y actividades que realizas 
            te ayudamos a elegir el régimen tributario que mejor se adapte a tu negocio. También podemos ayudarte con eficiencias 
            tributarias que quizás no has considerado.
            </p>
            <p class="card-text">
                Si te interesa saber más de este tema en particular, coordina una pre evaluación sin costo ingresando una solicitud 
                en esta página y permítenos ayudarte a elegir tu mejor alternativa. </p>
        </div>
      </div>
</div>

