<div class="accounting">
    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
               <div class="carousel-item active text-center">
                   <div class="row align-items-center">
                        <div class="col-md py-2 center">
                            <img class="d-block img-fluid" src="../../../assets/imgs/c1.jpg" alt="First slide">
                        </div>
                       <div id="car-derecho"class="col-md py-2 center">
                            <h1 id="nombre-empresa" class="titulo-carousel">Jimenes y Campos Asociados Spa</h1>
                            <h2 id="nombre-vista" class="titulo-carousel">Control de gestión</h2>
                            <p class="texto-carousel">Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, sed do 
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam.</p>
                            <button id="btn-carousel" class="btn btn-primary">Solicitar servicio</button>
                       </div>
                       
                   </div>
               </div>
        </div>
    </div>

    <div id="card-vista" class="card text-white bg-black mb-0">
        <div class="card-header">Información adicional</div>
        <hr>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus urna nec vehicula tempor. Morbi semper velit in purus ultrices, at rutrum sem mattis. Aliquam tempus velit sem, ac semper purus porta et. Aenean dapibus ante ut suscipit eleifend. Vivamus felis sem, mattis vitae arcu vitae, dignissim luctus felis. Donec ut justo fermentum, semper erat sed, posuere mi. Quisque auctor mi ac mi consequat finibus. Fusce ac imperdiet turpis. 
            Mauris sodales quam eget sem finibus fermentum. Cras vel varius purus. Aenean sed quam aliquam, vestibulum ante id, posuere elit. Curabitur porttitor eu purus eget ornare.</p>
        </div>
      </div>
</div>
