<div class="accounting">
    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
               <div class="carousel-item active text-center">
                   <div class="row align-items-center">
                        <div class="col-md py-2 center">
                            <img id="img-apartado" class="d-block img-fluid" src="../../../assets/imgs/c5.jpg" alt="First slide">
                        </div>
                       <div id="car-derecho"class="col-md py-2 center">
                            <h1 id="nombre-empresa" class="titulo-carousel">Jimenes y Campos Asociados Spa</h1>
                            <h2 id="nombre-vista" class="titulo-carousel">Control de gestión</h2>
                            <p class="texto-carousel">Manejar una empresa basándose en la información histórica es como manejar un 
                                vehículo a 100 km/h mirando sólo el retrovisor, la planificación es clave y en eso el control de 
                                gestión centraliza la información de las distintas áreas. </p>
                            <button id="btn-carousel" class="btn btn-primary">Solicitar servicio</button>
                       </div>
                       
                   </div>
               </div>
        </div>
    </div>

    <div id="card-vista" class="card text-white bg-black mb-0">
        <div class="card-header">Información adicional</div>
        <hr>
        <div class="card-body">
          <p class="card-text">En la administración moderna, existen diferentes  herramientas para planificación, 
            control y gestión de una empresa, tales como Modelo Canvas, Balance Scorecard, así como también para 
            empresas con certificación necesitan medir KPI (indicador clave de desempeño). <br>
            No importa el tamaño de la empresa, la planificación siempre tendrá mejor resultado que la 
            improvisación, En nuestra empresa contamos con la experiencia y conocimiento necesario para 
            transformar tus datos contables y de gestión necesarias para una buena toma de decisiones, 
            como así también podemos ayudarte con la planificación tributaria y financiera de tu empresa.
            </p>
        </div>
      </div>
</div>
