form {
    background-color: #ffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    padding: 20px;
}

#titulo-form {
    font-weight: 800;
}

#btn-form-send {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;
    font-weight: 500;
    width: 350px;

}

#btn-form-send:hover {
    background-color: #ffff;
    border-color: #D4AF37;
    border-width: 1px;
}