<form class="row g-3">
    <div class="col-md-6">
    <!-- Nombre -->
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name">
    </div>
    <!-- Apellido -->
    <div class="col-md-6">
      <label for="lastname" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="lastname">
    </div>
    <!-- Email -->
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <!-- Celular: editar -->
    <div class="col-md-6">
      <label for="cellphone" class="form-label">Celular</label>
      <input type="text" class="form-control" id="cellphone">
    </div>
    <!-- Mensaje -->
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <!-- Boton enviar -->
    <div class="col-12">
      <button id="btn-form-send" type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
